.btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.25rem 0.5rem;
	border-radius: 0.2rem;
	border: none;
	background-color: rgb(158, 202, 126);
	color: black;
	&.icon {
		gap: 0.5rem;
	}
	&:hover {
		cursor: pointer;
		background-color: rgb(114, 146, 92);
	}
	@media screen and (max-width: 768px) {
		font-size: 1.5rem;
		width: 50%;
	}
}
